[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dotprofile"]
	path = dotprofile
	url = https://github.com/cran/dotprofile
[submodule "transltr"]
	path = transltr
	url = https://github.com/jeanmathieupotvin/transltr
